#nav{
    width: 100%;
    height: 60px;
    /* border: 2px solid teal;  */
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    overflow: hidden;
  transition: 0.4s;
  z-index: 99;
  top: 0;
  }
  #nav1{
   /* border: 2px solid green; */
   height: 50px;
   width:32%;
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   padding-top: 15px;
   font-size: 12px;
   padding-right: 100px;
  }
  #nav2{
   /* border: 2px solid green; */
   height: 50px;
   width:15%;
   padding-top: 5PX;
   text-align: center;
   font-size: 26px;
  }
  #nav3{
      /* border: 2px solid green; */
   height: 50px;
   width:32%;
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   padding-top: 15px;
   font-size: 12px;
  padding-left: 100PX;
  }
  a{
    color: black;
    text-decoration: none;
    cursor:pointer;
}
#la{
  border: none;
  appearance: none;
  font-size: 11.4px;
  cursor:pointer ;
}
  /* -------- */

#login{
margin: auto;
padding-left: 530px;
margin-top: 70px;
font-size: 12px;
}
form{
line-height: 9px;
}
.input{
    width: 40%;
    padding: 5px;
    cursor: pointer;
}
.sub{
    width: 41.6%;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
  /* ------- */
  #footer{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 50px;
    margin: auto;
    gap:5px;
    /* border: 2px solid teal; */
    margin-top: 105px;
    
}
#footer>div{
    /* border: 2px solid green; */
    font-size: 10px;
    text-align: center;
     padding-top: 20px;   
}
/* ------- */
#footer1{
    width:40%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    margin: auto;
    /* border: 2px solid teal; */
    line-height: 0px;
}
#footer1>div{
    /* border: 2px solid green; */
    font-size: 12px;
    padding-top: 20px;
}
:placeholder-shown{
    text-align: right;
}
#ul{
    display: flex;
    justify-content: space-between;
    width: 43%;
    font-size: 12px;
}
#ul>div{
    padding-top: 5.5px;
    padding-right: 34px;
}
#ba{
    width: 40%;
    border: none;
    background-color: white;
    margin-top: 25px;
    cursor: pointer;
}
.para{
    width: 40%;
    line-height: 15px;
    margin-top: 40px;
}
.se{
    cursor: pointer;
}
